<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="pokerbots bags" src="{{ "/JPL/JPL-Logo.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> NASA's Jet Propulsion Laboratory </h3>
    <ul>
      <li> Exoplanet Discovery ML Intern (Summer 2021)</li>
      <li> Skills: Python, Data Simulation, Machine Learning, Statistics </li>
    </ul>
    <p>Last summer I worked at NASA's Jet Propulsion Laboratory on the atmospheric analysis of exoplanets using random forest classifiers and other classical machine learning techniques. The Python code I wrote has since been deployed as a permanent addition to the atmospheric analysis pipeline.</p>
    <a class="project-link" href="JPL/JPL-Abstract.pdf" target="_blank">Abstract</a>
    <a class="project-link" href="JPL/JPL-Slides.pdf" target="_blank">Presentation Slides</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="math" src="{{ "/assets/img/korean_class.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Korean Teaching Outreach </h3>
    <ul>
      <li> Skills: Communicating over Language Barriers, Leadership </li>
    </ul>
    <p>This past January I lived in South Korea as part of a STEM teaching team that worked with disadvantaged middle school students in Seoul. I codeveloped Arduino projects to introduce programming in addition to ideating engineering projects like catapult design and cardstock rollercoaster creation to illustrate physics concepts and spark the students' interests in science.</p>
    <a class="project-link" href="https://misti.mit.edu/your-resources/crafting-your-experience/types-programs/global-teaching-labs" target="_blank">MIT Global Teaching Labs</a>
  </div>
</div>
<!--
<div class="user-projects">
  <div class="images-right">
    <img alt="bond market" src="{{ "/assets/img/bonds.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Bond Calculator </h3>
    <ul>
      <li> Skills: FI Securities, Python </li>
    </ul>
    <p> While taking <a href="http://student.mit.edu/catalog/m15b.html#15.438" target="_blank">15.438 Fixed Income Securities and Derivatives</a>, I developed a tool to calculate a bond's price, yield to maturity, duration, and convexity. The code and details are available at the GitHub repository below. </p>
    <a class="project-link" href="https://github.com/shreysrins/bond-calculator" target="_blank">GitHub Repository</a>
  </div>
</div>
-->